/* Perspective to create the 3D effect */
.perspective {
    perspective: 1000px;
}

/* Inner content rotation */
.relative .backface-hidden {
    backface-visibility: hidden;
}

.swiper {
    width: 100%;
    padding-top: 30px;
    /* Reduced padding */
    padding-bottom: 30px;
}

/* Make the slide smaller */
.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 200px;
    /* Smaller width */
    height: 200px;
    /* Smaller height */
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Ensure the image covers the slide */
    border-radius: 10px;
    /* Rounded corners, optional */
}

        .background-video iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            pointer-events: none; /* Makes video non-interactive */
        }
        
        /* Top shadow overlay */
        .top-shadow {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 30%; /* Adjust height for shadow coverage */
            background: linear-gradient(to bottom, rgba(233, 3, 3, 0.8), transparent);
            z-index: 1;
        }
        /* Continuous scrolling animation */
.scroll-animation {
    animation: scroll-left 10s linear infinite;
}

@keyframes scroll-left {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}





